<!doctype html>
<html>
<head>
<title>3881 - Client Debugger</title>
</head>
<body>
{% if body %}
    Cookies:
    {{ cookies }}
    <br>
    Response:
    {{ body }}
{% endif %}

<br>
<form action="" method="post">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>